
.admin__search{
    display: flex;
    gap: var(--spacing-20);
    margin: var(--spacing-36) auto;
}
.admin__search-bar{
    border: solid 2px var(--dark-bg-solid);
    border-radius: var(--spacing-6);
    min-width: 50%;
    padding: var(--spacing-10);
}

.admin__icon iconify-icon {
    width: 42px;
    height: 42px;
}

.admin__header{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: var(--spacing-16);
}
.admin__header h2 {
    font-family: var(--alternative-font);
    font-size: var(--font-jumbo);
    font-weight: 700;
}

.admin__header span{
    font-size: var(--font-medium);
    align-items: center;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: var(--spacing-20);
}


.admin__header span iconify-icon {
    color: var(--primary-900);
    height: 45px;
    width: 45px;
    cursor: pointer;
}

.admin-table{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);   
}

.admin-table__header,
.admin-table__row {
    display: grid;
    grid-template-columns: 30px 1fr 4fr 3fr 40px 40px;
    align-items: center;
    gap: var(--spacing-8);
    font-size: var(--font-medium);
    font-weight: 700;
}

.admin-table__row button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

.admin-table__row p {
    font-weight: 500;
    margin: var(--spacing-8) auto; 
    font-size: var(--font-small);
    text-align: left;
}

.admin-table__row iconify-icon {
    font-size: var(--font-large);
}

.admin-table__header {
    margin-bottom: var(--spacing-24);
}