.contact{
    font-family: var(--alternative-font);
    align-items: center;
}

.contact__container{
    display: flex;
    flex-direction: column;
    padding: var(--spacing-36) auto;
    gap: var(--spacing-20);
    align-items: center;
}
.contact__data{
    display: flex;
    text-align: justify;
    margin: var(--spacing-20) auto;
    justify-items: center;
}
.contact__title{  
    font-size: var(--font-display);
    font-weight: 700;   
}
.contact__message{
    font-size: var(--font-large);
    font-weight: 500;
}
.contact__sub-title{
    font-size: var(--font-large);
}

.contact__input{
    padding: var(--spacing-8);
    border: none;
    border-bottom: solid 2px var(--primary-900);
}
.contact__submit{
    font-size: var(--font-xsmall);
    color: var(--light-font-solid);
    background-color: var(--primary-solid);
    padding: var(--spacing-10);
}
.contact__textarea{    
    min-height: 15vmax;
    min-width: 100%;
}

.contact__container{
    display: flex;
    flex-direction: column;
    margin: var(--spacing-36) auto;
    gap: var(--spacing-20);
}
.contact__data{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr 2fr;
    margin: var(--spacing-20) auto;
    justify-items: center;
}