.item__container{
    display: flex;
    margin: var(--spacing-68) auto;
    padding: var(--spacing-128);
}

.item__cover img{
    animation: fade 0.7s;
}

.item__img--back{
    display: none;
}

.item__cover:hover .item__img--back {
    display: block;
}

.item__cover:hover .item__img--front {
    display: none;
}

.item__article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-12);
}

.item__article__licence{
    font-size: var(--font-small);
}

.item__article__name{
    font-size: var(--font-display);
    font-weight: 700;
}

.item__article__text{
    font-size: var(--font-large);
    font-weight: 400;
}

.item__article__price{
    font-size: var(--font-jumbo);
    font-weight: 400;
}

.item__article__add-cart{
    border: none;
    font-size: var(--font-medium);
    color: var(--light-font-solid);
    font-weight: 400;
    background-color: var(--primary-900);
    padding: var(--spacing-8);
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.item__article__add-cart:hover {
    background-color: var(--secondary-solid);
}

.item__article__promo{
    font-size: var(--font-xsmall);
    color: var(--secondary-solid);
    font-weight: 700;
}

.item__article__input{
    border: 0.5px solid ;
    text-align: center;
    max-width: 105px;
    padding: var(--spacing-8);
    font-size: var(--font-large);
    color: var(--dark-900);
}

.item__quantity {
    background-color: var(--dark-bg-solid);
    color: var(--light-font-solid);
    font-size: var(--font-medium);
    cursor: pointer;
    border: none;
    padding: var(--spacing-8) var(--spacing-16);
}

.item__cart {
    display: flex;
    gap: var(--spacing-16);
}
