<%- include('./partials/head') %>

<body>

    <%- include('./partials/header') %>

    <main class="container">
        <section class="pages__container">
    
            <h1 class="pages__title">Preguntas Frecuentes - Tienda de Funko</h1>
    
            <h3 class="pages__text">1. ¿Qué son los Funko Pop! y por qué son tan populares?</h3>
            <p>Los Funko Pop! son figuras coleccionables.</p>
    
            <h3 class="pages__text">2. ¿Cuántos tipos de Funko Pop! tienen en la tienda?</h3>
            <p>En nuestra tienda, ofrecemos una amplia variedad de Funkos</p>
    
            <h3 class="pages__text">3. ¿Reciben nuevos lanzamientos de Funko Pop! con regularidad?</h3>
            <p>Sí, continuamente estamos recibiendo nuevos lanzamientos de Funko Pop!</p>
    
            <h3 class="pages__text">4. ¿Hay ediciones exclusivas o limitadas disponibles en la tienda?</h3>
            <p>Sí, contamos con ediciones exclusivas y limitadas.</p>
    
            <h3 class="pages__text">5. ¿Tienen programas de membresía o de lealtad?</h3>
            <p>No, no contamos con un programa de membresía.</p>
    
            <h3 class="pages__text">6. ¿Ofrecen descuentos o promociones especiales?</h3>
            <p>Sí, ofrecemos descuentos y promociones especiales.</p>
    
            <h3 class="pages__text">7. ¿Cómo puedo seguir las novedades de la tienda?</h3>
            <p>Puedes mantenerte al tanto de las novedades siguiéndonos en nuestras redes sociales.</p>
    
            <h3 class="pages__text">8. ¿Aceptan pedidos en línea?</h3>
            <p>Sí, aceptamos pedidos en línea a través de nuestro sitio web.</p>
    
            <h3 class="pages__text">9. ¿Puedo solicitar un Funko Pop! específico si no está en la tienda?</h3>
            <p>No, solo vendemos los Funkos publicados.</p>
        </section>
    </main>
    <%- include('./partials/footer') %>
    
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
</body>
    
</html>