* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


/* NORMALIZAR EL CSS*/

html{
    font-family: var(--base-font);
    font-size: 62.5%;
    color: var(--dark-solid);
}
a{
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}
header, footer{
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
}

ul,ol {
    list-style-type: none;
}

p {
    font-size: 1.8em;
}
img{
    width: 100%; 
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.delete_trash{
    max-width: 2.8rem;
}
.edit_pencil{
    max-width: 2.8rem;
}
.search_icon{
    max-width: 3.0rem;
}
