
.shop-container {
    display: flex;
}

.shop-aside{
    margin: var(--spacing-68) auto;
    display: flex;
    flex-direction: column;
}

.shop-aside__text{
    font-size: var(--font-large);
    padding: var(--spacing-12) 0;
}

.shop-aside__minmax {
    font-size: var(--font-small);
}

.shop-aside__search{
    border-radius: var(--spacing-6);
    padding: var(--spacing-8);
    min-width: 100%;
}

.shop-aside__order{
    padding: var(--spacing-8);
    border-radius: var(--spacing-6);
    border: solid var(--dark-bg-solid) 2px;
    min-width: 100%;
}

.shop-aside__price-content{
    display: flex;
    gap: var(--spacing-8);
    align-items: center;
} 

.shop-aside__box{
    width: var(--spacing-68);
    height: var(--spacing-24);
    border: 2px solid var(--dark-bg-solid);
    border-radius: var(--spacing-6);
}

.shop-aside__items{
    display: flex;
    padding: var(--spacing-12) auto;
}

.shop-aside__checkbox{
    display: flex;
    margin-left: var(--spacing-12);
    gap: var(--spacing-8);
}

.shop-aside__checkbox-text{
    font-size: var(--font-small);
    padding: 0 var(--spacing-8);
}

.shop{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-36);
    margin: var(--spacing-68) auto;
}

.shop__items{
    display: flex;
    gap: var(--spacing-24);
}

.pagination{
    display: flex;
    flex-direction: row;
    margin: var(--spacing-24) 0;
    
}

.pagination ul{
    display: flex;
    width: 100%;
    justify-content: center;
}

.pagination ul li{
    display: flex;
    margin-right: var(--spacing-12);
    align-items: center; 
    
}

.pagination ul li a {
    display:inline-flex;
    padding: var(--spacing-12);
    width: var(--spacing-36);
    height: var(--spacing-36);
    font-size: var(--font-small);
    font-weight: 700;
    color: var(--dark-solid);
    align-items: center;
    transition: all .3s ease-in-out;
    border: 1px solid var(--dark-500);
    border-radius: var(--spacing-6);
}

.pagination ul li a:hover{
    color: var(--primary-solid);
    border: 1px solid var(--primary-900);
}

.chevron-left {
    background-color: var(--dark-300);
    color: var(--light-font-solid);
}

.chevron-left a {
    color: var(--light-font-solid);
}


